<!DOCTYPE HTML>
<html>
	<head>
		<title>ML Deployment</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/main.css') }}">
		<link rel = "icon" href =  "{{ url_for('static', filename='images/logo.png') }}" type = "image/x-icon">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	</head>
	<body>
		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="/portfolio" class="logo">Balaji Srinivasan</a>
					<nav id="nav">
						<a href="/">Home</a>
						<a href="https://github.com/balajisrinivas" target="_blank">GitHub</a>
						<a href="https://www.linkedin.com/in/balaji-srinivasan-493a08104/" target="_blank">LINKEDIN</a>
					</nav>
				</div>
			</header>

		<!-- Center -->
		<br><br><br>
		<center><h2>Portfolio</h2><center>
		<br><br>

		<table class="table table-hover">
		    <tr>
		      <td width="700"><img class="animated-gif" src="{{ url_for('static', filename='images/1_oB3S5yHHhvougJkPXuc8og.gif') }}"/></td>
		      <td>
		      	<strong>Cat vs Dog Predictions</strong>
		      	<br><br><br>
		      	Used CNN to predict Cat and Dog images. Taken the dataset from Kaggle.
		      	<br><br><br>
		      	GitHub: <a href="https://github.com/balajisrinivas/Cats-Vs-Dogs-Prediction" target="_blank">Click here</a>
		      </td>
		    </tr>
		    <tr>
		      <td width="700"><img class="animated-gif" src="{{ url_for('static', filename='images/facereg.png') }}"/></td>
		      <td>
		      	<strong>Face Recognition using OpenCV</strong>
		      	<br><br><br>
		      	Face Detection and Face Recognition in Image and Video
		      	<br><br><br>
		      	GitHub: <a href="https://github.com/balajisrinivas/Face-Recognition-OpenCV" target="_blank">Click here</a>
		      </td>
		    </tr>
		    <tr>
		      <td width="700"><img class="animated-gif" src="{{ url_for('static', filename='images/customer_leaving.jpg') }}"/></td>
		      <td>
		      	<strong>Customers leaving Bank</strong>
		      	<br><br><br>
		      	A bank is investigating a very high rate of customer leaving the bank. Here is a 10,000 records dataset to investigate and predict which of the customers are more likely to leave the bank soon.
		      	<br><br><br>
		      	GitHub: <a href="https://github.com/balajisrinivas/Customers-Leaving-Bank" target="_blank">Click here</a>
		      </td>
		    </tr>
		    <tr>
		      <td width="700"><img class="animated-gif" src="{{ url_for('static', filename='images/model_deploy.png') }}"/></td>
		      <td>
		      	<strong>Model Deployment using Flask and Heroku</strong>
		      	<br><br><br>
		      	Created a model to identify Spam messages and deployed the same using Flask
		      	<br><br><br>
		      	GitHub: <a href="https://github.com/balajisrinivas/Model-Deployment-using-Flask" target="_blank">Click here</a>
		      </td>
		    </tr>
		    <tr>
		      <td width="700"><img class="animated-gif" src="{{ url_for('static', filename='images/nlp.jpg') }}"/></td>
		      <td>
		      	<strong>NLP</strong>
		      	<br><br><br>
		      	Spacy Basics, Spans, Tokenization, Tokenization Visualizers, Stemming (Porter Stemmer and Snowball Stemmer), Lemmatization and Stopwords.
		      	<br><br><br>
		      	GitHub: <a href="https://github.com/balajisrinivas/NLP" target="_blank">Click here</a>
		      </td>
		    </tr>
		    <tr>
		      <td width="700"><img class="animated-gif" src="{{ url_for('static', filename='images/visuals.png') }}"/></td>
		      <td>
		      	<strong>Data Visualization using Pandas, Seaborn and Matplotlib</strong>
		      	<br><br><br>
		      	Data visualiztion using various libraries
		      	<br><br><br>
		      	GitHub: <a href="https://github.com/balajisrinivas/Seaborn-Basics" target="_blank">Seaborn</a> , 
		      	<a href="https://github.com/balajisrinivas/Data-Visualization-Using-Pandas" target="_blank">Pandas Visualization</a> , 
		      	<a href="https://github.com/balajisrinivas/Matplotlib" target="_blank"> Matplotlib
		      </td>
		    </tr>
		   <tr>
		      <td width="700"><img class="animated-gif" src="{{ url_for('static', filename='images/chatbot.png') }}"/></td>
		      <td>
		      	<strong>Chatbot Using RASA NLU</strong>
		      	<br><br><br>
		      	Weather updating Chatbot using RASA NLU
		      	<br><br><br>
		      	GitHub: <a href="https://github.com/balajisrinivas/Chatbot-Using-RASA-NLU" target="_blank">Click here</a>
		      </td>
		    </tr>
		</table>
		<br><br><br><br>
		Remaining at my <a href="https://github.com/balajisrinivas" target="_blank">GitHub</a>!!
		<br><br><br><br><br><br><br><br>
		<!-- Footer -->
			
			<style>
				img.animated-gif{
  				width: 600px;
  				height: auto;
				}
			</style>
	</body>
</html>
